{% extends "base.html" %}

{% block content %}

<div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-table me-1"></i>
                            Virtual Machines
                        </div>
                        <div class="card-body">
                            <table id="datatablesSimple">
                                <thead>
                                    <tr>
                                        <th>Virtual Machine ID</th>
                                        <th>Hypervisor ID</th>
                                        <th>Hypervisor Node</th>
                                        <th>Hypervisor Snapshot</th>
                                        <th>Name</th>
                                        <th>Creator</th>
                                        <th>Date Added</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>Virtual Machine ID</th>
                                        <th>Hypervisor ID</th>
                                        <th>Hypervisor Node</th>
                                        <th>Hypervisor Snapshot</th>
                                        <th>Name</th>
                                        <th>Creator</th>
                                        <th>Date Added</th>
                                        <th>Actions</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    {% for vm in virtual_machines %}
                                    <tr>
                                        <td>{{ vm.id }}</td>
                                        <td>{{ vm.vm_id }}</td>
                                        <td>{{ vm.node }}</td>
                                        <td>{{ vm.snapshot }}</td>
                                        <td>{{ vm.name }}</td>
                                        <td>{{ vm.creator }}</td>
                                        <td>{{ vm.date_added }}</td>
                                        <td width="25%">

                                            <div class="btn-group btn-group-justified" role="group" aria-label="...">
                                                <div class="btn-group" role="group">
                                                    <form action="{{ url_for('start_vm', vmid=vm.vm_id) }}"
                                                        method="post">
                                                        {{ form.hidden_tag() }}
                                                        {{ form.submit(value='Start', class='btn btn-success') }}
                                                    </form>
                                                </div>
                                                <div class="btn-group" role="group">
                                                    <form action="{{ url_for('shutdown_vm', vmid=vm.vm_id) }}"
                                                        method="post">
                                                        {{ form.hidden_tag() }}
                                                        {{ form.submit(value='Shutdown',class='btn btn-danger') }}
                                                    </form>
                                                </div>
                                                <div class="btn-group" role="group">
                                                    <form action="{{ url_for('reset_vm', vmid=vm.vm_id) }}"
                                                        method="post">
                                                        {{ form.hidden_tag() }}
                                                        {{ form.submit(value='Reset',class='btn btn-warning') }}
                                                    </form>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>

<div class="row">
    <div class="col-xl-6">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-chart-area me-1"></i>
                   Add Virtual Machine
            </div>
            <div class="card-body">
            <form action="" method="POST">
                {{ form.hidden_tag() }}

                        {{ form.node.label}}
                       {{ form.node(class='form-control')}}
                       
                        {{ form.vm_id.label }}
                        {{ form.vm_id(class='form-control') }}
                    
                        {{ form.submit(class='btn btn-primary my-1') }}
                        </form>
                        
                        <script>
                            // Grab Select elements
                            let node_select = document.getElementById('node');
                            let vm_id_select = document.getElementById('vm_id');

                            node_select.onchange = function() {
                                node = node_select.value;
                                // Fetch VMs for node
                                fetch('/vms/' + node).then(function(response) {
                                    response.json().then(function(data) {
                                        
                                        let optionHTML = '';
                                        // Set option tag values for each vm in node    
                                        for (let vm of data.vms) {
                                            optionHTML += '<option value="' + vm.id + '">' + vm.name + ' (' + vm.id + ')</option>';
                                            
                                        }
                                            // replace 
                                            vm_id_select.innerHTML = optionHTML;
                                        });
                                });
                            }
                        </script>
            </div>
        </div>
    </div>
</div>
{% endblock %}